div{
    height: 100px;
    width:100px;
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 325px;
    padding:25px;
    margin-left: 150px;

}
#div1{
    background-color: rgba(17, 121, 218, 0.5);
    border-radius: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: #0f1111;
}
#div2{
    background-color: rgba(218, 17, 124,0.5);
    border-radius: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: #0f1111;
}
#div3{
    background-color: rgba(12, 213, 196, 0.5);
    border-radius: 20px;
    border-width: 5px;
    border-style: solid;
    border-color: #0f1111;
}
#div4{
    background-color: rgba(11, 56, 99, 0.5);
    margin-top: 25px;
    padding-top: 50px;
    display: block;
}
#navBar{
    background-color: #0f1111;
    height: 60px;
}
#amazon{
    color: #f08804;
    font-size: 25px;
    text-decoration: none;
}
#account{
    margin-left: 200px;
    color: white;
    text-decoration: none;
}


#MyCart{
    margin-left: 200px;
    color: white;
    text-decoration: none;
}

#ContactUs{
    margin-left: 200px;
    color: white;
    text-decoration: none;

}
#input{
    margin-left: 100px;
}
#search{
    background-color: #f08804;
}
footer{
    background-color: #0f1111;
    color: aliceblue;
    padding-bottom: 50px;
    align-items: center;
    padding-left: 200px;
}